*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
/* giniral part */
.contianer{
    display: flex;
    justify-content: center;
    margin: auto;
    /*  */

}
.fist-box{
    position: absolute;
    top: 30%;
    margin:auto;
}
.first-hit{
color: white;
}
/* linght part  */
.light {
    position: relative;
    padding: 25px 30px;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    cursor: pointer;
    overflow: hidden;
  }
  .light:hover {
    background-color: #000000;
    color: #ffffff;
    box-shadow: 0 0 5px #0353f4,
                0 0 25px #ff2c2c,
                0 0 50px #bc2aff,
                0 0 200px #ffffff;
  }
  .light div {
    position: absolute;
  }
  .light div:nth-child(1){
    width: 100%;
    height: 2px;
    top: 0;
    left: -100%;
    background: linear-gradient(to right,transparent,#0373f4);
    animation: animate1 1s linear infinite;
  }
  .light div:nth-child(2){
    width: 2px;
    height: 100%;
    top: -100%;
    right: 0;
    background: linear-gradient(to bottom,transparent,#f40303);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }
  .light div:nth-child(3){
    width: 100%;
    height: 2px;
    bottom: 0;
    right: -100%;
    background: linear-gradient(to left,transparent,#bc2aff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }
  .light div:nth-child(4){
    width: 2px;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(to top,transparent,#ffffff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }
  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

  /* 
text css part 2
   */

   .second-box{
    display: none;
    position: absolute;
    top: 30%;
    margin:auto;
   }
   .typewriter{
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: wrap; /* Keeps the content on a single line */
    margin: auto; /* Gives that scrolling effect as the typing happens */
    padding-left:3%;
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite ;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 150% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(149, 0, 255) }
  }
 .typewriter1{
  padding: 10px;
  position: absolute;
  top: 120%;
  display: grid;
 }